<%- include('./partials/cdnlinks.ejs')%> <%-
include('./partials/articleheader.ejs')%>
<section class="flex justify-center items-center h-screen">
  <div>User login sucessfully welcome to our website</div>
</section>
