<%- include('./partials/cdnlink.ejs') %>
<%- include('./partials/adminheader.ejs') %>


<main>
  <section class="flex justify-between items-center w-100 h-screen px-[9%]">
    <h1 class="text-3xl font-extrabold">
      Welcome to our Ecommerce store <br />
      login to user our services
    </h1>
  </section>
</main>
  