<%- include('./partials/cdnfile.ejs')%>
<%- include('./partials/header.ejs')%>
<main class="flex justify-between mx-36">
  <section class="basis-4/6">
   <%if(podcasts){%>
       <%- include('./partials/allpodcasts.ejs')%>
    <%}%>
    <%if(users){%>
      <%- include('./partials/allusers.ejs')%>
    <%}%>
  </section>
  <aside class="basis-1/4 h-screen bg-red-900 p-[20px]">
    <h1 class="font-medium text-2xl">All plans podcast</h1>
    <ul class="flex flex-col">
      <a href="/podcasts/dashboard?userplan=free">free plan podcasts</a>
      <a href="/podcasts/dashboard?userplan=vip">vip plan podcasts</a>
      <a href="/podcasts/dashboard?userplan=premium">premium plan podcast</a>
    </ul>
</aside>
</main>