<%-include('./partials/cdnfile.ejs')%>
<%-include('./partials/header.ejs')%>
<section class=" h-screen w-100 flex justify-center items-center">
  <h1 class="text-2xl font-extrabold">Welcome to our podcast application</h1>
</section>