<%- include('./partials/cdnfile.ejs')%>
<%- include('./partials/header.ejs')%>
<main class="flex justify-between flex-wrap">
  <section class=" px-36 ">
    <%- include('./partials/allpodcasts.ejs')%>
  </section>
</main>